$desktop-w-big:                  "max-width: 1440px";
$desktop-w-normal:               "max-width: 1200px";
$desktop-w-small:                "max-width: 1152px";

$tablet-w-big:                   "max-width: 1024px";
$tablet-w-normal:                "max-width: 960px";
$tablet-w-middle:                "max-width: 840px";
$tablet-w-small:                 "max-width: 720px";
$tablet-w-extra-small:           "max-width: 620px";

$mobile-w-big:                   "max-width: 560px";
$mobile-w-normal:                "max-width: 480px";
$mobile-w-small:                 "max-width: 400px";
$mobile-w-extra-small:           "max-width: 320px";
